*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0f3460;
    height: 6vh;
    width: 100%;
}
.bazar{
    color: white;
}
#check{
    display: none;
}
select{
    border: none;
}
span{
    color: #4E97FD;
}

/**Mobile**/
@media (min-width:468px) {
   .sec-esc{
    display: none;
    }
    
    .header-nav-mo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .bazar{
        font-size: 40px;
        margin-left: 3%;
    }
    .nav-selects{
        text-align: center;
        padding: 17px 0px;
        margin-left: 50%;
    }
    .nav-selects select{
        border: none;
        background-color: #0f3460;
        color: white;
        outline: none;
        margin-right: 8%;
    }
    .bazar-busc{
        display: none;
    }
    .menu{
        padding: 10px 0;
        grid-area: menu-ha;
    }
    .menu img{
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: 1px solid #e4e9ec;
        border-radius: 100px;
    }
    .menu  ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #0f3460;
        top: 135px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .menu  ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    .menu ul li select{
        border: none;
        background-color: #0f3460;
        outline: none;
        color: white;
    }
    .menu img.active{
        background: none;
        color: black;
    }
    #check:checked ~ .ul-check{
        left: 0;
        top: 3;   
    }
    .gray-space{
        padding: 15px 0;
        background-color: #efefef;
        height: 300px;
    }
    .title-gray-space{
        font-size: 20px;
        text-align: center;
        padding: 50px 0;
    }
    .title-gray-space button{
        margin-top: 5%;
        cursor: pointer;
        border-radius: 5px;
        width: 120px;
        height: 40px;
        background-color: #4E97FD;
        color: white;
        border: none;
    }
    .img-gray-space{
        display: none;
    }
    .buscador{
        display: flex;
        flex: 100;
    }
    .buscador-header{
        flex: 88;
    }
    .input-main{
        margin: 5% 0 5% 2%;
    }
    .main-input-busc{
        width: 370px;
        border: 1px solid #c6c6c6;
        border-radius: 100px;
    }
    .main-input-busc input{
        width: 280px;
        margin: 0 2% 0 2%;
        border: none;
        outline: none;
    }
    .main-input-busc button{
        padding: 13px;
        border-radius: 0 100px 100px 0;
        border: none;
        color: white;
        background-color: #4E97FD;
    }
    .menu{
        flex: 12;
        margin: 3% 0 0 0;
    }
    .bazar-busc{
        display: none;
    }
    .list-nav-esc{
        display: none;
    }
    .usuarios{
        display: none;
    }
    aside{
        display: none;
    }
    .brands-arti{
        margin-top: 5%;
    }
    .ps5-art, .ps4-art{
        display: flex;
        margin: 0 0 5% 5%;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        width: 420px;
    }
    .ps5-art img, .ps4-art img{
        width: 60%;
        height: 200px;
    }
    .ps5-art div{
        background-color: #4E97FD;
        border-radius: 0 100px 100px 0;
    }
    .ps4-art-sub{
        margin-top: 12%;
    }
    .people p{
        margin-top: 40%;
    }
    .ps4-art button{
        width: 120px;
        height: 40px;
        background-color: #4E97FD;
        color: white;
        border: none;
        border-radius: 5px;
        margin-top: 10%;
    }
    .product1, .product2, .product3, .product4{
        margin: 5% 15%;
        border: 1px solid #c6c6c6;
        border-radius: 10px;
    }
    .img-products{
        width: 300px;
        height: 300px;
        margin: 2% 5%;
    }
    .etiqueta{
        background-color: #4E97FD;
        border-radius: 0 100px 100px 0;
        width: 50px;
        color: white;
    }
    .info-products{
        border-top: 1px solid #c6c6c6;
        margin: 5% 0 8% 0;
    }
    .corazon{
        height: 10px;
    }
    .add{
        width: 300px;
        height: 20px;
        background-color: #4E97FD;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .corazon{
        background-color: #4E97FD;
        width: 20px;
        height: 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .products-all{
        display: flex;
    }
    .product-1-all, .product-2-all, .product-3-all{
        border: 1px solid #c6c6c6;
        border-radius: 6px;
    }
    .product-2-all, .product-3-all{
        margin-left: 15%;
    }
    .product-3-all{
        display: none;
    }
    .img-products-all{
        width: 130px;
        height: 130px;
    }
    .add-all{
        background-color: #4E97FD;
        color: white;
        border: none;
        width: 110px;
    }
    .brand-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 5%;
    }
    .brand-container h3{
        color: #4E97FD;
    }
    .brand-1,.brand-2, .brand-3{
       margin-top: 5%;
       width: 90%;
       border: 1px solid #c6c6c6;
       border-radius: 10px;
       padding: 40px;
    }
    footer{
        background-color: #0f3460;
        border-radius: 10px;
        width: 90%;
        margin: 8% auto 0 auto;
        display: flex;
        flex-direction: column;
    }
    .titles-ft{
        margin-bottom: 10%;
    }
    .titles-ft h2{
        color: white;
        padding: 20px 10px;
        font-size: 40px;
    }
    .p-bazar-ft{
        color: white;
        padding: 5px 10px;
    }
    .play, .ios{
        display: flex;
       margin: 3% 5% 0 0;
       background-color: #0C2A4D;
       border-radius: 5px;
    }
    .apps{
        display: flex;
    }
    .fa-google-play, .fa-app-store-ios{
        padding: 8px 5px 0 0;
    }
    .apps p, .apps h3,.icons-ft a{
        color: white;
    }
    .apps p{
        font-size: 10px;
    }
    .icons-ft{
        padding: 0 10px;
    }
    .icons-ft li{
        margin-bottom: 5%;
    }
   

}


/**Tablet**/

@media (min-width:768px) {
    .nav-selects{
        margin-left: 60%;
    }
    .menu ul{
        top: 150px;
    }
    .menu img{
        width: 40px;
        height: 40px;
    }
    .gray-space{
        display: grid;
        grid-template-areas: 
        "button image-ps image-ps";
        height: 350px;
    }

    .img-gray-space{
        display: inline-flex;
        width: 290px;
        height: 270px;
        grid-area: image-ps;
       padding-left: 80px;
    }
    .title-gray-space{
        padding: 60px 10px;
        text-align: left;
        font-size: 25px;
    }
    .title-gray-space button{
        margin-top: 10%;
    }
    .input-main{
        margin: 3% 0 3% 2%;
    }
    .main-input-busc{
        width: 650px;
        flex:80;
    }
    .main-input-busc input{
        width: 549px;
    }
    .main-input-busc button{
        padding: 13px;
    }
    .menu{
        flex: 10;
        margin: 2% 0 0 0;
    }
    aside{
        display: none;
    }
    .brands-arti{
        display: flex;
    }
    .top-all-products{
        margin: 5% 0 0 5%;
        display: grid;
        grid-template-areas: 
        "title title"
        "product1 product2"
        "product3 product4";
    }
    .load{
        grid-area: button-a;
    }
    .top-new-pro{
        grid-area: title;
    }
    .product1{
        grid-area: product1;
    }
    .product2{
        grid-area: product2;
    }
    .product3{
        grid-area: product3;
    }
    .product4{
        grid-area: product4;
    }
    .img-products{
        width: 150px;
        height: 150px;
        margin: 0;
    }
    .add{
        width: 200px;
    }
    .all-products{
        margin-left: 5%;
    }
    .product-3-all{
        display: block;
    }
    .brand-container{
        text-align: left;
    }
    .brand-1,.brand-2, .brand-3{
        display: flex;
    }
    .fa-solid, .fa-truck{
       padding: 20px 20px 0 0 ;
    }
    footer{
        flex-direction: row;
        flex: 100;
    }
    .titles-ft{
        flex:50;
        padding: 0 15px;
    }
    .titles-ft h2{
        padding: 0 10px;
    }
    .icons-ft{
        flex: 50;
        padding: 30px;
    }
    .icons-ft li{
        margin-bottom: 7%;
    }
}

/**Pc**/
@media (min-width:1048px) {
    .sec-esc{
        display: block;
    }
    .info{
        display: inline-flex;
        padding: 15px 20px;
        margin-left: 5%;
    }
    .info ul{
        display: inline-flex;
    }
    .info img{
        width: 20px;
        height: 20px;
        margin: 0 3% 0 3%;
    }
    .info p{
        color: white;
        margin:0 3% 0 2%;
    }
    .header-nav-mo{
        display: none;
    }
    .nav-esc{
        display: inline-flex;
        float: right;
    }
    .navegador ul{
        display: flex;
        padding: 0 50px;
    }
    .navegador ul li, .navegador ul li a{
    padding: 15px 20px;
    color: white;
    }
    .navegador ul li select{
        border: none;
        background-color: #0f3460;
        color: white;
    }
    /**Fin de header**/

     /**Main**/
    .menu input, .menu label{
        display: none;
    }
    .menu nav{
        display: block;
    }
    .gray-space{
        display: grid;
        grid-template-areas: 
        "button button image-ps";
        height: 400px;
    }

    .img-gray-space{
        display: inline-flex;
        width: 400px;
        height: 370px;
        grid-area: image-ps;
       padding-left: 80px;
    }
    .title-gray-space{
        padding: 50px 80px;
        text-align: left;
        font-size: 30px;
    }
    .title-gray-space button{
        margin-top: 10%;
    }
    .bazar-busc{
        display: block;
    }
    .buscador{
        width: 100%;
    }
    .usuarios{
        display: block;
    }
    .list-nav-esc{
        display: block;
    }
    .menu{
        display: none;
    }
    .buscador-header{
        display: flex;
        flex:100;
        margin: 1%;
    }
    .bazar-busc{
        flex:20;
    }
    .bazar-busc h2{
        font-size: 40px;
        color: #0f3460;
        text-align: center;
    }
    .input-main{
        margin: 0 0 0 12%
    }
    .info-busc{
        flex: 60;
        margin: 0;
    }
    .usuarios{
        flex:20;
        text-align: center;
        margin-left: 10%;
    }
    .usuarios img{
        margin: 0 8% 0 12%;
    }
    .list-nav-esc{
        display: flex;
        margin: 1%;
        justify-content: space-between;
    }
    .list-nav-esc nav{
        margin-right: 5%;
    }
    .list-nav-esc nav ul{
        display: flex;
        justify-content: space-between;
    }
    .categories{
        display: flex;
        margin-left: 5.5%;
        background-color: #f6f9f6;
        justify-content: space-between;
        flex: 10;
    }
    .categories p{
        text-align: left;
    }
    .list-nav-esc nav{
    margin: 0 5% 0 10%;
    flex: 30;
    }
    .aside-container{
        display: flex;
        margin: 3% 5% 0 5%;
        flex: 100;
    }
    .select-aside{
        display: flex;
    }
    aside{
        display: block;
        flex: 10;
    }
    aside a{
    text-decoration: none;
    color: #4b5871;
    }
    .aside li{
        background-color: #f3f5f9;
        margin-bottom: 2%;
        border-radius: 5px;
        height: 30px;
    }
    .aside h3{
        background-color: #b8defe;
        text-align: center;
        width: 250px;
        height: 40px;
        border-radius: 5px 5px 0 0;
    }
    .brands-arti{
        display: grid;
        grid-template-areas: 
        "ps5 ps4";
        margin: 0;
    }
    .ps5-art img, .ps4-art img{
       width: 40%;
    }
    .ps5-art, .ps4-art{
        display: flex;
        width: 400px;
        margin: 0;
    }
    .ps5-art{
        grid-area: ps5;
    }
    .ps4-art{
        grid-area: ps4;
    }
    .ps4-art{
        margin: 0 auto;
    }
    .brands{
        flex: 90;
        margin-left: 5%;
    }
    .people p{
        margin-top: 30%;
    }
    .img-products-all{
        width: 200px;
        height: 200px;
    }
    .product4{
        display: none;
    }
    .top-all-products{
        margin: 0;
        grid-template-areas: 
        "title title title"
        "product1 product2 product3"
    }
    .all-products{
        margin: 5% 0;
        display: grid;
        grid-template-areas: 
        "title-a title-a title-a"
        "products-a products-a products-a";
    }
    .products-all{
        grid-area: products-a;
        margin: 0;
        display: grid;
        grid-template-areas: 
        "produ1 produ2 produ3";
    }
    .info-all-pd{
        grid-area: title-a;
    }
    .product-1-all{
        grid-area: produ1;
    }
    .product-2-all{
        grid-area: produ2;
    }
    .product-3-all{
        grid-area: produ3;
    }
    .product-1-all,.product-2-all,.product-3-all,.product1,.product2,.product3{
        width: 200px;
        margin: 5% 0;
    }
    .add{
        width: 150px;
    }
    .load{
        margin: 0 auto;
    }
    .brand-container{
        flex-direction: row;
        margin-right: 10%;
    }
    .brand-1, .brand-2, .brand-3{
        padding: 20px 10px 10px 20px;
        margin-right: 3%;
    }
    footer{
        width: 60%;
        margin: 8% auto 0 27%;
    }
    .titles-ft{
        padding: 30px 30px 0 30px;
    }
    .icons-ft{
        padding: 70px 0 0 0;
    }
}